
    
    <footer th:fragment="mainFooter">
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/resource/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/resource/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/resource/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="/resource/js/dataTables/jquery.dataTables.js"></script>
    <script src="/resource/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->
    <script src="/resource/js/custom-scripts.js"></script>
</footer> 
    